[Unit]
Description=Elasticsearch
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
RuntimeDirectory=elasticsearch
PrivateTmp=true
Environment=ES_HOME=/home/g2/ELK/elasticsearch-9.2.1
Environment=ES_PATH_CONF=/home/g2/ELK/elasticsearch-9.2.1/config
Environment=PID_DIR=/run/elasticsearch
Environment=ES_SD_NOTIFY=true
EnvironmentFile=-/home/g2/ELK/elasticsearch-9.2.1/config/elasticsearch

WorkingDirectory=/home/g2/ELK/elasticsearch-9.2.1

User=g2
Group=g2

ExecStart=/home/g2/ELK/elasticsearch-9.2.1/bin/elasticsearch

StandardOutput=journal
StandardError=inherit

LimitNOFILE=65535
LimitNPROC=4096
LimitAS=infinity
LimitFSIZE=infinity
TimeoutStopSec=0
KillSignal=SIGTERM
KillMode=process
SendSIGKILL=no
SuccessExitStatus=143
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target
