[Unit]
Description=Logstash
Documentation=https://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=g2
Group=g2
Environment=LS_HOME=/home/g2/ELK/logstash-9.2.1
Environment=LS_SETTINGS_DIR=/home/g2/ELK/logstash-9.2.1/config
WorkingDirectory=/home/g2/ELK/logstash-9.2.1

ExecStart=/home/g2/ELK/logstash-9.2.1/bin/logstash

Restart=always
RestartSec=10

StandardOutput=journal
StandardError=inherit

LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
